.form_card {
  max-width: 400px;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
}
.form-group {
  margin-bottom: 20px;
}
.clr_change {
  color: #007bff !important ;
}
.eye_btn {
  border: none;
  border: unset;
  background: transparent;
  position: absolute;
  right: 3%;
  top: 22%;
}
label {
  display: block;
  margin-bottom: 5px;
}
input[type="text"],
input[type="mail"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: transparent;
}
.error {
  border-color: #ff0000;
}
.error-message {
  color: #ff0000;
  margin-top: 5px;
}
.submit_btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.success-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 2px solid #007bff;
  padding: 20px;
  border-radius: 10px;
  z-index: 9;
}
.swiper-button-next:after {
  content: "next";
  margin-bottom: 290px !important;
}
.swiper-button-prev:after {
  content: "next";
  margin-bottom: 290px !important;
}

.cmn_btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.crd {
  max-width: 300px;
}
.head {
  font-size: 25px;
}
.show {
  border: 2px solid black;
  background: transparent;
  border-radius: 30px;
  font-size: 30px;
}
